[features]
resolution = true
skip-lint = false

[programs.localnet]
progressive_jackpot = "JACKPOT1111111111111111111111111111111"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000

[test.validator.clone]
url = "https://api.mainnet-beta.solana.com"

[test.validator.clone]
url = "https://api.devnet.solana.com"
